.Header{
    display: flex;
    justify-content: space-between;
    width: 90%;    
    left: 5%;
    right: 5%;
    position: relative;
    align-items: center;
}

#buttonat{
    transition: transform(.5);
}

#buttonat:hover{
    transform: scale(1.2);
}

.Header img{
    height: 90px;
    width: 90px;
}

.Bg{
    background: linear-gradient(to right,#34EB64, #34EB79);
}

*{
    padding: 0;
    margin: 0;
}

.HeaderButtons button{
    background: linear-gradient(to right, #32A0A8, #3291A8);
    width: 90px;
    height: 40px;
    color: white;
    -webkit-border-radious: 10px;
    -moz-border-radious: 10px;
    border-radius: 5px;
    border: none;
    text-align: center;
}


.Main{
    display: flex;
    height: 200px;
    background: linear-gradient(to right, #32A0A8, #3291A8);
    width: 40%;
    left: 30%;
    right:30%;
    position: relative;
    border-radius: 10px;
    flex-direction: column;
}

.MainButtons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.MainButtons button{
    color: white;
    border: none;
    height: 30px;
    width: 100%;
}

#MB1{
    background: linear-gradient(to right, #32A0A8, #3296A8);
    border-top-left-radius: 10px;
    border-bottom: solid 1px grey;
    border-right: solid 1px grey;
}

#MB2{
    background: linear-gradient(to right, #3296A8, #328DA8);
    border-top-right-radius: 10px;
    border-bottom: solid 1px grey;
}

.Login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    height: 100%;
}

.Login input{

    -webkit-border-radious: 10px;
    -moz-border-radious: 10px;
    border-radius: 5px;
    border: none;
    height: 15%;
    width: 60%;
}

.Login button{
    background: green;
    width: 20%;
    height: 15%;
    color: white;
    -webkit-border-radious: 10px;
    -moz-border-radious: 10px;
    border-radius: 5px;
    border: none;
}

.Footer{
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
    height: 200px;
}
.Footer h5{
   width: 100%;
}

@media only screen and (max-width:400px){
    .Header{
        flex-direction: column;
    }

    .Header img{
        height: 50px;
        width: 50px;
    }
}


@media only screen and (max-width:400px){
    .Main{
        flex-direction: column;
        top: 20px;
    }
}