@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Resume App</h1>
    <p>Please proceed under the information tab to create your CV, or view a Cv of another user.</a>.</p>
</div>
