.Div1{
    text-align: center;
}

.Class1{
    position:relative;
    top: 160px;
    color:blue;
}

.Div1 img{

    position: absolute;  
    left:0;
    width: 100%;   
    opacity: 50%;

}           

.Butonat button{
    position :relative;
    top: 150px;
    border-radius: 25px;
    background-color:blue;
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 30px;
}

#Red{
    background-color: red;
}

.Div2{
    top:410px;
position: relative;
flex-direction: row;
justify-content: space-evenly;

}

.Div2 h2{
    text-align: center;
}

.Div21{
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.div21 ul{
    list-style: none;
}
.Div2 img{
    display: flex;
   width: 70px;
   height: 70px;  
}

.Div3{
    position: relative;
    top:450px;
    text-align: center;
}

.Div3 h3{
    position: relative;
    padding-top: 100px;
    color: blue;
}





.Div3 img{
    position: absolute;  
   left:0;
    height: 200px;
    width: 100%;   
    opacity: 50%;

} 

.Div31 img{
   left: 640px;
    width: 50px;
    height: 50px;
    align-items: center;
}